
main{
    min-height: 85vh; /* Garde le footer au bas de la page s'il n'y a pas de contenu */
}
header{
    height: 125px;
}
.nav-link:hover{
    text-decoration: underline;
}
.header__nav-icon{
    height: 25px;
    width: auto;
    position: relative;
    top: 10px;
} 
.subfooter__icone{
    width: 30px;
    max-height: 30px;
    object-fit: contain;
}

.carousel-image{
    height: 300px;
    object-fit: contain;
}

.card-img-top{
    height: 45vh;
    object-fit: cover;
}

.card-icon{
    width: 20px;
    max-height: 20px;
    object-fit: contain;
}
