:root {
  --bs-primary: #C5A028;     
  --bs-secondary: #8A6E1E; 
  --bs-tertiary: #B22222; 

  --bs-border-color: var(--bs-secondary);

  --bs-body-color: #f9f9d1;  /* Texte */

  --bs-body-bg: linear-gradient(180deg,#121212,#4e3212,#2b0808,#121212);; /*Background*/
  
  --bs-dark: #121212;   /*Header-Footer*/
  --bs-dark-rgb: 18, 18, 18;  


  /*Pour modifier l'url de l'icone navbar...(mobile)
  /* --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23C5A028' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22 M4 15h22 M4 23h22'/%3E%3C/svg%3E"); */

}

/*
.navbar-light .navbar-toggler-icon {
  background-image: var(--bs-navbar-toggler-icon-bg);
} */

/*Navigation*/
.nav-link{
  color: var(--bs-primary) !important;
}

.link-primary {
  color: var(--bs-primary) !important;
  text-decoration-color: var(--bs-primary) !important;
}
.link-primary:hover{
  color: var(--bs-secondary) !important;
  text-decoration-color: var(--bs-secondary) !important;
}

/* Boutons */
.btn-primary {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: var(--bs-dark);
}
.btn-primary:hover {
  background-color: var(--bs-tertiary) !important;
  border-color: var(--bs-tertiary) !important;
}

.btn-secondary {
  background-color: var(--bs-tertiary) !important;
  border-color: var(--bs-tertiary) !important;
}

.btn-secondary:hover {
  background-color: var(--bs-primary) !important;
  border-color: var(--bs-primary) !important;
  color: var(--bs-dark) !important;
}

.nav-link:hover {
  text-decoration: underline;
}


header {
  height: 125px;
}

main{
 background: var(--bs-body-bg);
}

.header__nav-icon {
  height: 25px;
  width: auto;
  position: relative;
  top: 10px;
}

.subfooter__icone {
  width: 30px;
  max-height: 30px;
  object-fit: contain;
}

.carousel-image {
  height: 300px;
  object-fit: contain;
}

.card-img-top {
  height: 45vh;
  object-fit: cover;
  object-position: 0px 12%;
}

.card-icon {
  width: 20px;
  max-height: 20px;
  object-fit: contain;
}

